*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(100, 89, 89);
    display: grid;
}
.item{
    background-color: rgb(127, 86, 165);
    border: 5px solid black;
}